.headerContainer{
    display:flex;
    flex-flow:column wrap;
    align-content:center;
    background: tomato;
    font-weight:bold;
    margin-bottom:20px;
}
body{
    width:100%;
    max-width:600px;
    margin:0 auto;
    padding: 2em;
}
html,input{
    font-family: sans-serif;
}
form{
    margin-top:0px;
}
div{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
label,input,button{
    font-size:16px;
    line-height:1.5
}
label{
    text-align:right;
    width:30%;
    margin-right:2%;
}
input{
    flex:auto;
}
button{
    width:70%;
    margin: 0 auto;
}
error-output{
    font-size: 12px;
    font-style: italica;
    color:red;
}
@media only screen and (max-width:360px)
{
    .headerContainer{
        font-size:20px;
        text-align:center;
        background: gold;
    }
    label{
        width:35%;
        font-size:12px;
        margin-right:0%;
        text-align:left;
    }
    input{
        width:40%;
    }
}